.round-button {
    width: 335.9px;
    height: 54px;
    border-radius: 25px;
    box-shadow: 0 20px 25px 0 rgba(52, 50, 146, 0.14);
    background-color: #1da1f2;
    display: flex;
    align-items: center;
    padding-top: 3px;
  }
  
  .round-button:hover {
    cursor: pointer;
    background-color: #1da1aF;
  }
  
  
  
  .button-name {
    
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }