.next-step {
  display: flex;
  justify-content: space-between;

  border-radius: 19px;
  width: 367.8px;
  height: 56.6px;
  padding: 10px 20px;
  align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;

  cursor: pointer;

  span {
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }

  @media (max-width: 576px) {
    width: 95%;
    justify-content: space-around;

    span {
      margin-left: 10px;
    }
  }
}

.next-elastos {
  @extend .next-step;
  background-color: white;
  border: solid 1px #000000;
  color: #000000;
}

.next-assist {
  @extend .next-step;
  background-color: none;
  background-image: linear-gradient(to bottom, #07b8ff, #005cff);
  color: #ffffff;
  margin-bottom: 20px;
}

.elastos-content {
  width: 100%;

  background-color: #f5f5fd;
  border-radius: 0px 0px 47px 47px;
  padding: 20px;
  .elastos-download {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: -0.33px;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .last-message {
    width: 318px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    margin-bottom: 20px;
  }

  .store-download {
    img:first-child {
      margin-right: 15px;
    }
    img:last-child {
      margin-left: 15px;
    }
  }
}

.content {
  height: 100%;
  margin-bottom: 80px;

  .description {
    margin: 20px;
  }

  

  .qrcode-did {
    text-align: center;
    
    display: block;

    margin-bottom: 15px;

    .did-item {
      width: 100%;
      margin-top: 10px;
      display: block;
      
      .did-text {
        margin-left: 15px;
        width: 180px;        
        word-wrap: break-word;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        
        
      }
      .copy-icon {
        margin-top: 11px;
        margin-left: 15px;
        width: 13.4px;
        height: 13.4px;
        float: right;
      }
    }
  }

  .confirmation-id {
    
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000000;

    width: 367.8px;
    height: 45px;
    border-radius: 15px;
    background-color: #efeff7;
    padding: 10px;

    .confirmation-status {
      width: 100% !important;
    }

    .confirmation-refresh {
      margin-top: 5px;
      float: right;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #8799c4;
      cursor: pointer;
    }
  }

  .confirmation-pending {
    @extend .confirmation-id;
    background-color: #f7dbd1;

  }

  .confirmation-quarentined {
    @extend .confirmation-id;
    background-color: #f7d1d1;

  }

  .confirmation-processing {
    @extend .confirmation-id;
    background-color: #d5eef6;
    
  }

  .confirmation-completed {
    @extend .confirmation-id;
    background-color: #d5f6e3;
    
  }

  @media (max-width: 576px) {
    width: 95%;
    justify-content: space-around;

    .description {
      margin-bottom: 30px;
    }

    .confirmation-id {
      margin-bottom: 30px;
      width: 90%;
    }

    .last-message {
      margin: 0;
      margin-bottom: 20px;
    }
  }
}
