.next-step {
  display: flex;
  justify-content: space-between;

  border-radius: 19px;
  width: 367.8px;
  height: 56.6px;
  padding: 10px 20px;
  align-items: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;

  cursor: pointer;

  span {
    width: 100%;
    text-align: left;
    margin-left: 20px;
  }

  @media (max-width: 576px) {
    width: 95%;
    justify-content: space-around;

    span{
      margin-left: 10px;
    }
  }
}

.next-elastos {
  @extend .next-step;
  background-color: white;
  border: solid 1px #000000;
  color: #000000;
}

.next-assist {
  @extend .next-step;
  background-color: none;
  background-image: linear-gradient(to bottom, #07b8ff, #005cff);
  color: #ffffff;
  margin-bottom: 20px;
}

.confirmation-id {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;

  .copy-text {
    margin-top: 5px;
    font-family: "Open Sans";
    font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #b2b2b2;
    cursor: pointer;
  }

  .copy-text:hover {
    text-decoration: underline;
  }
}

.content {
  

  height: 100%;
  margin-bottom: 80px;

  .last-message{
    margin-bottom: 50px;
  }


  @media (max-width: 576px) {
    width: 95%;
    justify-content: space-around;

    .description{
      margin-bottom: 30px;
    }

    .confirmation-id{
      margin-bottom: 30px;
    }

    .last-message{
      margin: 0;
    }
  }

}
