.title {
  margin-bottom: 1.2em !important;
  @media screen and (max-width: 576px) {
    margin: 0.8em !important;
  }
}
.mnemonic-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-bottom: 4em;
  padding-left: 50px;
  padding-right: 50px;

  .mnemonic {
    position: relative;
    height: 32px;
    margin-bottom: -6px;
    border-radius: 9px;
    border: solid 1px #343292;
    border-left: none;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    font-size: 0.8em;
    

    .number {
      position: absolute;
      left: -14px;
      top: -2px;
      width: 34px;
      height: 34px;
      background-color: #343292;
      color: white;
      border-radius: 50%;
      border: 2px solid white;
      font-size: 1em;
      text-align: center;
      line-height: 28px;
      font-size: 1.5em;
    }
  }
}