.title {
  margin-bottom: 1.2em !important;
  @media screen and (max-width: 576px) {
    margin: 0.8em !important;
  }
}
.mnemonic-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-bottom: 4em;
  padding-left: 75px;
  padding-right: 75px;

  .mnemonic {
    position: relative;
    height: 41px;

    border-radius: 5px;
    border: solid 1px #bfc4ce;
    border-left: none;

    text-align: center;
    padding-top: 6px;

    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    color: #363291;

    .number {
      position: absolute;
      left: -16px;
      top: 7px;
      width: 28px;
      height: 28px;
      background-color: #ffffff;
      color: #343292;
      border-radius: 50%;
      border: 1px solid #bfc4ce;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }
  }
}
