
.mnemonic-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-bottom: 4em;
  

  .mnemonic {
    position: relative;
    height: 41px;

    border-radius: 5px;
    border: solid 1px #bfc4ce;
    border-left: none;

    text-align: center;
    padding-top: 9px;

    font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: center;
  color: #0f358e;

    .number {
      position: absolute;
      left: -16px;
      top: 7px;
      width: 28px;
      height: 28px;
      background-color: #ffffff;
      color: #0f358e;
      border-radius: 50%;
      border: 1px solid #bfc4ce;
      text-align: center;
      line-height: 25px;
      font-size: 12px;
    }
  }

  @media (max-width: 576px) {
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-around;
    margin-bottom: 2em;
    grid-gap: 1em 2em;
  }
}

.mnemonic-security-info{
  width: 421px;
  height: 112px;
  border-radius: 20px;
  background-color: #f7dbd1;
  padding-top: 23px;

  .description{
    font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  }

  @media (max-width: 576px) {
    width: 90%;
    height: auto;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2em;
  }
  
}

