.next-button {
  width: 5em;
  height: 5em;
}

.button-name {
  font-size: 1.5em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.37;
  letter-spacing: normal;
  text-align: center;
  color: #38b6ff;
}