.link-text a{
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: 0.4px;
  text-align: center;
  color: #000000;
  margin-bottom: 25px;
}