.modal-container {
  width: 692px;
  height: 700px;
  border-radius: 47px;
  box-shadow: 0 20px 25px 0 rgba(132, 132, 132, 0.1);
  background-color: #ffffff;
  padding: 3em;

  display: flex;
  flex-direction: column;

  .title {
    font-family: 'Open Sans';
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: -0.79px;
    text-align: center;
    color: #0f358e;
  }
  
  .description {
    font-family: 'Open Sans';
    font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #595f6f;
  }

  @media (max-width: 576px) {
    width: 90%;
    padding: 2em 1.2em;
    height: 90%;
    justify-content: space-around;

    .title {
      margin: 0;
    }
  }
}