.homepage {
  flex: 1;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @media screen and (max-width: 576px) {
    padding-left: 30px;
  }
}

// .left-background{
  
//   position: absolute;
//   display: block;
//   width: 1200px;
//   height: 100% auto;
//   margin-left: -600px;
//   object-fit: contain;
// }

// .right-background{
  
//   position: absolute;
  
//   width: 1035.1px;
//   height: 1080px;
//   float: right;
//   object-fit: contain;
// }