.homepage {
  flex: 1;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.title {
  margin-bottom: 1.2em !important;
  @media screen and (max-width: 576px) {
    margin: 0.8em !important;
  }
}

.description{
  @media (max-width: 576px) {
   margin: 0;   
  }
}

.next-button{
  @media (max-width: 576px) {
    margin-top: 10px;
   }
  
}